/* Layout tổng cho toàn bộ App */
/* .page-container {
    width: 100%;
  }
  
  .main-header, footer {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
  
  .main-content {
    width: 100%;
    min-height: calc(100vh - 200px);
    padding: 20px;
    box-sizing: border-box;
  }
   */
